*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #ffeedf;
    overflow-y:hidden ;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    nav{
        position: relative;
        top: 2vh;
        width: fit-content;
        display: flex;
        flex-direction: column;
        //padding-left: 2vw;
        padding-top: 2vh;
        border:1px solid gold;
        border-radius: 0px 30px 30px 0px;
        background-color: #735751;
        #menu_btn{
            margin-bottom: 5vh;
            h3{
                position: relative;
                bottom:4.5vh;
                left: 10vw;
                color: white;
                font-family: monospace;
                font-weight: bolder;
                font-size: 2em;
            }
            i{
                background-color: #77605b;
                padding: 1vh 1vw;
                position: relative;
                left: 2vw;
                color: white;
                font-size: 2em;
            }
        }
        #options{
            display: flex;
            flex-direction: column;
            position: relative;
            button{
                text-align: left;
                color: white;
                font-family: monospace;
                font-size: 1.5em;
                border: none;
                background-color: transparent;
                padding: 2vh;
                padding-right: 2vw;
                padding-left: 4vw;
                width: 24vw;
                height: fit-content;
                i{
                    color: gold;
                }
            }
            button:hover{
                background-color: #77605b;
                border: 1px solid #77605b;
            }
            #setting{
                position: relative;
                top: 18vh;
            }
        }
    }
    
    // the main section
    main{
        //overflow-y:scroll;
        // dsection one 
        #sec1{
            position: relative;
            right: 25px;
            margin-top: 2vh;
            display: flex;
            justify-content: center;
            background-color: #a78a7f;
            z-index: -1;
            article{
                padding: 2vh 0vw;
                color: white;
                font-family: monospace;
                font-size: 2em;
            }
        }
       #container1{
        position: relative;
        overflow-y: scroll;
         // section two percent growth view
         #sec2{
            article{
                position: relative;
                left: 3vw;
                top: 5vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2vh 2vw;
                border: 1px solid gold;
                border-radius: 10px;
                width: fit-content;
                background-color: #a78a7f;
                font-family: monospace;
                font-size: 1.5em;
                color: white;
                box-shadow: 2em 2em 10em #b19990;
                #percent{
                    margin: 2vh 0vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10em ;
                    height: 10em;
                    border: 1px solid burlywood;
                    border-radius: 50%;
                    //background-image:conic-gradient(#b19990 36deg,#ffeedf 0deg);
                    #number{
                        position: relative;
                        font-size: 2em;
                    }
                }
                #percent::before{
                    content: "";
                    position: absolute;
                    width: 7.5em;
                    height: 7.5em;
                    background-color: #a78a7f;
                    border-radius: 50%;
                }
            }
        }
        // end of section two

        // section three
        #sec3{
            article{
                position: relative;
                left: 35vw;
                bottom:30vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2vh 2vw;
                border: 1px solid gold;
                border-radius: 10px;
                width: fit-content;
                background-color: #a78a7f;
                font-family: monospace;
                font-size: 1.5em;
                color: white;
                box-shadow: 2em 2em 10em #b19990;
                #piechart{
                    #squer{
                        color: #264653;
                        width: 2vw;
                        height: 2vh;
                        background-color: #264653;
                    }
                }
                
            }
        }
        // end of section 3

        #sec4{
            article{
                position: relative;
                left: 3vw;
                bottom:10vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2vh 2vw;
                border: 1px solid gold;
                border-radius: 10px;
                width: fit-content;
                background-color: #a78a7f;
                font-family: monospace;
                font-size: 1.5em;
                color: white;
                box-shadow: 2em 2em 10em #b19990;
                i{
                    color:#ffeedf;
                    font-size: 20vw;
                }
            }
        }
        // end of section 4
       }

        // section 5 add products 
        #sec5{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            right: 2vw;
            top: 3vh;
            z-index: -1;
            background-color:#a78a7f;
            article{
                color: white;
                font-family: monospace;
                font-size: 1.5em;
                padding: 2vh 2vw;
            }
        }

        #sec6{
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            font-family: monospace;
            
            article{
                #container{
                    border: 1px solid gray;
                    padding: 1vh 1vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 25vw;
                    height: fit-content;
                    img{
                        width: 20vw;
                        height: 25vh;
                        border: 1px solid gray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: monospace;
                        font-size: 1.2em;
                        color: gray;
                    }
                    label {
                        display: block;
                        width: 20vw;
                        margin: 0.5vh 2vw;
                        margin-top: 1.5em;
                        padding: 1vh 0px;
                        text-align: center;
                        text-decoration: none;
                        font-size: 1.5em;
                        background-color: #a78a7f;
                        color: #fff;
                        border-radius: 15px;
                      }
                      #amount{
                        outline: none;
                        border: none;
                        border-radius: 15px;
                        width: 20vw;
                        padding: 1vh 0px;
                        margin: 1vh 2vw;
                        background-color: #a78a7f;
                        color: #fff;
                        font-size: 1.2em;
                        display: flex;
                        justify-content: center;
                        span{
                            // the number
                            border: 1px solid white;
                            width: fit-content;
                            height: 100%;
                            padding: 0vh .5vw;
                            font-size: 1.5em;
                        }
                        span:focus{
                            height: 3.3vh;
                            outline: none;
                            border: 1px solid white;
                        }
                        #minus,#plus{
                            border: 1px solid white;
                            width: fit-content;
                            height: 100%;
                            padding: 0vh .5vw;
                            font-size: 1.5em;
                            cursor: pointer;
                            //margin-right: 1vw;
                        }
                        #pnumber{
                            width: 10vw;
                            display: flex;
                            justify-content: center;
                        }
                      }
                    #name,#dic,#price{
                        outline: none;
                        border: none;
                        width: 20vw;
                        padding: 1vh 0px;
                        margin: 1px 2vw;
                        color: gray;
                        //font-size: 1.2em;
                    }
                    textarea{
                        height: 10vh;
                    }

                    button{
                        outline: none;
                        border: none;
                        border-radius: 15px;
                        width: 20vw;
                        padding: 1vh 0px;
                        margin: 1vh 2vw;
                        background-color: #a78a7f;
                        color: #fff;
                        font-size: 1.2em;
                    }
                }
            }
        }
        //end of section 6

        // section 7 dump products
        #sec7{
            article{
                display: flex;
                justify-content: center;
                padding: 2vh 2vw;
                margin-top: 2vh;
                background-color: #a78a7f;
                position: relative;
                right:2vw;
                z-index: -1;
                header{
                    font-family: monospace;
                    font-size: 2em;
                    color: white;
                }
            }
            
            #container2{
                margin: 3vh 2vw;
                //border: 1px solid gray;
                display: flex;
                flex-wrap: wrap;
                overflow-y: auto;

                .product{
                    border: 1px solid gold;
                    border-radius: 10px;
                    padding: 1vh 1vw ;
                    margin-right:.5vw;
                    position: relative;
                    .del{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family:Arial, Helvetica, sans-serif;
                        color: white;
                        background-color: red;
                    }
                    img{
                        border: 1px solid gold;
                        width: 150px;
                        height: 150px;
                        margin: 1vh 0vw;
                        border-radius: 10px;
                    }
                    p{
                        background-color: #735751;
                        font-family: monospace;
                        font-size: 1.5em;
                        color: white;
                        text-align: center;
                        padding: 1vh 0px;
                        margin: .5vh;
                        border-radius: 1vw;
                    }
                }
                .product:hover{
                    box-shadow: 2em 2em 15em #a78a7f;
                }
            }
        }
        // end of section 7

        // section 8 users section 
        #sec8{
            article{
                display: flex;
                justify-content: center;
                padding: 2vh 2vw;
                margin-top: 2vh;
                background-color: #a78a7f;
                position: relative;
                right:2vw;
                z-index: -1;
                header{
                    font-family: monospace;
                    font-size: 2em;
                    color: white;
                }
            } //end of article 8
            #container3{
                overflow-y: scroll;
                table{
                    margin-left: 1vw;
                    margin-top: 2vh;
                    table-layout:fixed;
                    border-collapse: collapse;
                    border: 1px solid #a78a7f;
                    font-family: monospace;
                    font-size: 1.1em;
                    color: white;
                    thead{
                        background-color: #735751;
                        tr{
                            margin: 1vh 0px;
                            th{
                                width: 3vw;
                                border: 1px solid #735751;
                                border-collapse: collapse;
                            }
                            th:nth-child(1){
                                width:.5vw;
                            }
                            // name
                            th:nth-child(2){
                                width:2vw;
                            }
                            // email
                            th:nth-child(3){
                                width:3vw;
                            }
                            th:nth-child(4){
                                width:1vw;
                            }
                            th:nth-child(5){
                                width:2vw;
                            }
                        }
                    }
                    tbody{
                        tr{
                            margin: 1vh 0px;
                            td{
                                padding-top: 1vh;
                                text-align: center;
                                border-collapse: collapse;
                                border: 1px solid #735751;
                            }
                        }
                        tr:nth-child(odd) {
                            background-color: #b19990;
                          }
                          
                        tr:nth-child(even) {
                            background-color: #a78a7f;
                          }
                    }
                } // end of teble 
            } // end of cont
        }
    }
    // end of main
}