*{
    padding: 0px;
    margin: 3px;
    box-sizing: border-box;
    //border: 1px solid gray;
    font-family: monospace;
}

body{ 
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    main{
        margin: 0px;
        //border: 1px solid red;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        #noerror{
            background-color: #ffc3bb;
            position: absolute;
            top: 150px;
            right: 0px;
            transition: all 2s;
            visibility: hidden;
        }
        #error{
            background-color: #ffc3bb;
            position: absolute;
            top: 0vh;
            right: 0vw;
            width: 28vw;
            height: 10vh;
            font-size: 1.5em;
            color: #ff2d2d;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left:2vw;
            visibility:hidden;
            animation: error_animation 5s ease-in-out;
        }
        @keyframes error_animation {
            0% {top: 100px; visibility: visible;}
            75%{top: 0px;}
            80%{background-color: #f7d6d6; color: #f8a2a2;}
            90%{background-color: #fae0e0; color: #f5bbbb;}
            95%{background-color: #f5ebeb; color: #f5bbbb;}
            100% {background-color: #fae0e0; color: #f5bbbb;}
        }          
        article{
            border: 1px solid #a78a7f;
            border-radius: 5vh;
            box-shadow: 2px 2px .5em #a78a7f;
            padding: 3vh 3vw;
            header{
                //border: 1px solid yellow;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                img{
                    margin: 15px;
                    width: 8em;
                    height: 8em;
                    border-radius: 50%;
                    border: 1px solid  #a78a7f;
                }
                h2{
                    text-transform: capitalize;
                    font-size: 2em;
                    letter-spacing: .5em;
                    color:  #a78a7f;
                }
            }
            #form{
                //border: 4px solid #0000ff;
                position: relative;
                padding: 2vh 2vw;
                #username-handle,#password-handl{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    font-size: 1.2em;
                    color: #a78a7f;
                    background-color: white;
                   // border: 1px solid gray;
                }
                #username-handle{
                    top: 32px;
                    left: 85px;
                    transition: all .5s;
                }
                #password-handl{
                    top: 88px;
                    left: 85px;
                    transition: all .5s;
                }
                form{
                    //border: 1px solid gray;
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    #pass-input,#user-name-input{
                        display: flex;
                        align-items: center;
                        margin: .5vh 0px;
                        label{
                            i{
                                color: #a78a7f;
                                font-size: 1.5em;
                                margin-right: 10px;
                            }
                        }
                        label[for="pass"]{
                            margin-right: 8px;
                        }
                        input{
                            color: #a78a7f;
                            width: 250px;
                            padding-left: 1vw;
                            height: 40px;
                            border: 1px solid #a78a7f;
                            border-radius: 1vh;
                        }
                        input:focus{
                            visibility: visible ;
                            outline: none;
                        }
                    }
                    button{
                        position: relative;
                        left: 35px;
                        width: 250px;
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        height: 50px;
                        border-radius: 1vw;
                        border: 1px solid #a78a7f;
                        font-size: 1.5em;
                        color: white;
                        background-color: #a78a7f;
                    }
                    #register{
                        margin-top: 10px;
                        color: #a78a7f;
                        font-size: 1.2em;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}