*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
    /*box-sizing: border-box;*/
}
body{
    background-color:#fffefd ;
}
    /*navigational part style */
nav {
    /*border: 1px solid black;/**/
    z-index: 2;
    width: 100%;
    display: flex;
    background-color: transparent;
    position: absolute;
    transition: .5s;
    #logo {
        width: 45%;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 3vw;
        }
    }
    #links{
        /*border: 1px solid;/**/
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-right:3vw;
        a{
            text-decoration: none;
            color: white;
            margin: 0vh 1vw;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}

 nav.active{
    position: sticky;
    top: -1px;
    background-color: #1a0900b2;
 }

/* styling main section article*/

main {
    overflow: hidden;
     /* first section */
    #sec1 {
        z-index: 3;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        transition: all 1s;
        /*background-image: url(./../resource/pic/backgrounds/bg7.jpg);/**/
        article {
            height: 100vh;
            /*how the article will be displayed*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &::before{
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                top:0px;
                left: 0px;
                background-color: #1a09008a;
                z-index: 0;
            }
            header{
                /*how the headers will be displayed */
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                
                h1{
                    /*box modeling */
                    /* styling the font of the header */
                    letter-spacing: 0.5em;
                    font-family: monospace;
                    font-size: 12vh;
                    font-weight: bolder;
                    color: white;
                    
                }
            }
            p{
                position: relative;
                font-family: sans-serif;
                font-size: 1.5em;
                color: #ffa87d;
            }
        }
    }
    /* second section styling */
    #sec2 {
       /* border: 1px solid black;/**/
        width: 100%;
        height: 200vh;
        padding: 10vh 10vw;
        position: relative;
        overflow-x:hidden ;
        margin-bottom:100px ;
        /* firest article*/
        .article1 {
            /*border: 3px solid red ;/**/
            position: relative;
           /* display: none; /* for development only deseble it  */
            img{
                width: 35%;
                height: 45vh;
                position: absolute;
                top: 5vh;
                border-radius: 10px;
            }
            .disc1.reveal {
                transform: translateX(50vw);
                transition: all 1s  ease;
                opacity: 0;
            }
            .image.reveal{
                transform: translateX(-50vw);
                transition: all 1s  ease;
                opacity: 0;
            }
            .image.reveal.active {
                transform: translateX(0vw);
                opacity: 1;
            }
            .disc1.reveal.active{
                transform: translateX(0%);
                opacity: 1;
            }
            .disc1 {
                width: 30%;
                height: fit-content;
                padding:0vw 2vh;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                left: 45%;
                header{
                    h1 {
                        font-family: monospace;
                        font-weight: bold;
                        font-size: 5vh;
                        padding-bottom: 2vh;
                    }
                }
                p{
                    font-family: sans-serif;
                    font-weight: lighter;
                    line-height: 1.5em;
                    padding-bottom: 3vh;
                    color: gray;
                }
                button{
                    border-radius: 10px;
                    width: 15vw;
                    height: 7vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: #742904;
                    a{
                        color: white;
                        font-weight: bold;
                    }
                }
            }
            /* second article on this section */

        }
        /*second article on this section*/
        #article2{
            /*border: 1px solid black;*/
            position: relative;
            top: 70vh;
            img {
               width: 35%;
               height: 45vh;
               position: absolute;
               left: 45%;
               top: 5vh;
               border-radius: 10px; 
            }
            .disc2.reveal {
                transform: translateX(-50vw);
                transition: all 1s  ease;
                opacity: 0;
            }
            .image.reveal{
                transform: translateX(50vw);
                transition: all 1s  ease;
                opacity: 0;
            }
            .image.reveal.active {
                transform: translateX(0vw);
                opacity: 1;
            }
            .disc2.reveal.active{
                transform: translateX(0%);
                opacity: 1;
            }
            .disc2{
                width: 30%;
                height: fit-content;
                padding:0vw 2vh;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;

                header{
                    h1 {
                        font-family: monospace;
                        font-weight: bold;
                        font-size: 5vh;
                        padding-bottom: 2vh;
                    }
                }
                p{
                    font-family: sans-serif;
                    font-weight: lighter;
                    line-height: 1.5em;
                    padding-bottom: 3vh;
                    text-align: right;
                    color: gray;
                }
                button{
                    border-radius: 10px;
                    width: 15vw;
                    height: 8vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: #742904;
                    a{
                        color: white;
                        font-weight: bold;
                    }
                }
                
            }
        }
        
        /*therd article on this section*/
        #article3{
            /*border: 1px solid black;/**/
            position: relative;
            top: 140vh;
            img {
               width: 35%;
               height: 45vh;
               position: absolute;
               top: 5vh;
               border-radius: 10px; 
            }
            .disc3.reveal {
                transform: translateX(50vw);
                transition: all 1s  ease;
                opacity: 0;
            }
            .image.reveal{
                transform: translateX(-50vw);
                transition: all 1s  ease;
                opacity: 0;
            }
            .image.reveal.active {
                transform: translateX(0vw);
                opacity: 1;
            }
            .disc3.reveal.active{
                transform: translateX(0%);
                opacity: 1;
            }
            .disc3{
                width: 30%;
                height: fit-content;
                padding:0vw 2vh;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                left: 45%;
                header{
                    h1 {
                        font-family: monospace;
                        font-weight: bold;
                        font-size: 5vh;
                        padding-bottom: 2vh;
                    }
                }
                p{
                    font-family: sans-serif;
                    font-weight: lighter;
                    line-height: 1.5em;
                    padding-bottom: 3vh;
                    color: gray;
                }
                button{
                    border-radius: 10px;
                    width: 15vw;
                    height: 8vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: #742904;
                    a{
                        color: white;
                        font-weight: bold;
                    }
                }
                
            }
        }
    }
    /*section three for about section */
    #sec3{
        padding: 20px;
        margin:10rem 0rem;
        #article1{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            header{
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;
                h1{
                    font-family: sans-serif;
                    font-weight: bold;
                    font-size: 10vh;
                    color: #4e3b40;
                    text-transform: capitalize;
                }
                .reveal{
                    transform:translateY(10rem);
                    opacity: 0;
                    transition: all 1s ease;
                }
                .reveal.active{
                    transform: translateY(0rem);
                    opacity: 1;
                }
            }
            p{
                width: 85%;
                font-family: cursive;
                font-weight: lighter;
                font-size: 17px;
                color: gray;
            }
            .reveal{
                transform:translateY(10rem);
                opacity: 0;
                transition: all 1s ease;
            }
            .reveal.active{
                transform: translateY(0rem);
                opacity: 1;
            }
        }
    }

        /*section four brands section */
    #sec4{
      /*  border: 1px solid black;/**/
        margin: 10rem 0rem 5rem 0rem;
        .reveal{
            transform:translateY(10rem);
            opacity: 0;
            transition: all 1s ease;
        }
        .reveal.active{
            transform: translateY(0rem);
            opacity: 1;
        }
        .article1{
            margin: 10px;
            white-space: nowrap;/**/
            header{
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    color: rgb(66, 1, 1);
                    font-family: monospace;
                    font-size: 5vh;
                    margin: 20px 20px;
                }
                
            }
            #logos{
                display: inline-block;
                animation:  20s slide infinite linear;
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    padding: 5px 10px ;
                }
            }
        }
    }
    /* animation for section three brand slide (horizontall scroll)*/
    @keyframes slide {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }
    
    /* section five numbers */

    #sec5{
       /*border: #1a0900 1px solid;/**/
        position: relative;
        height: 70vh;
        display: flex;
        flex-direction:column ;
        justify-content: center;
        .article1{
            display: flex;
            justify-content: center;
            color: rgb(66, 1, 1);
            .view{
               /* border: 1px solid black;/**/
                margin: 2rem 8rem 1rem 0rem ;
                font-family: sans-serif;
                font-size: 10rem;
                font-weight: normal;
            
            }
            .sell{
                /*border: 1px solid black;/**/
                margin: 2rem 8rem 1rem 2rem ;
                font-family: sans-serif;
                font-size: 10rem;
                font-weight: normal;
            }
            .product{
                /*border: 1px solid black;/**/
                margin: 2rem 0rem 1rem 2rem ;
                font-family: sans-serif;
                font-size: 10rem;
                font-weight: normal;
                position: relative;
            }
        }
        .article2{
            display: flex;
            position: relative;
            /*border: 1px solid black;/**/
            p{
                font-family: sans-serif;
                font-weight: lighter;
                font-style: italic;
                font-size: 1.5rem;
                text-transform: capitalize;
                color: gray;
            }
            p:nth-child(1){
                    position: relative;
                    left: 12rem;
                }
            p:nth-child(2){
                position: relative;
                left: 32rem;
            }
            p:nth-child(3){
                position: relative;
                left: 50rem;
            }
        }
    }

    /*section six for produts */
    
    #sec6{
        /*border: 1px solid black;/**/
        display: flex;
        flex-direction: column;
        padding:10px 3vw;
        header{
            h2{
                font-family: monospace;
                font-weight: bold;
                font-size: 10vh;
                color: #1a0900;
                text-align: center;
                text-transform: capitalize;
                text-decoration: underline;
                margin: 10vh 0px;
            }
        }
        #box{
            /*border: 1px solid black;/**/
            display: flex;
            justify-content: space-evenly;
            position:relative;
            margin:5vh;
            width: 100%;
            height: fit-content;
            img{
                border: 2px solid brown;/**/
                border-radius:1vw ;
                width: 20vw;
                height: 40vh;
                z-index: 0;
            }
            #img1{
                position: relative;

            #discbox{
                /*border: 1px solid green;/**/
                border-radius: 0px 0px 1vw 1vw;
                background-color: #74290481;
                width: 20vw;
                height:0%;
                opacity: 0;/**/
                position: absolute;
                bottom:2px ;
                left: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                transition: .5s ;
                p{
                    width: 80%;
                    font-family: sans-serif;
                    font-size: 3vh;
                    font-weight: bold;
                    color: white;
                    word-spacing: 0.2vw;
                }
                span {
                    font-family: sans-serif;
                    font-size: 3vh;
                    font-weight: bold;
                    color: white;
                }
                button{
                    font-family: sans-serif;
                    font-size: 2vh;
                    font-weight: bold;
                    color: white;
                    background-color: #742904;
                    border: 1px solid #742904; 
                    border-radius: .5vh;
                    width: 50%;
                    height: 5vh;
                }
              }
              img:hover ~#discbox,
              #discbox:hover {
                height: 70%;
                opacity: 1;
              } 
            }
        }
    }
    /*section seven for testimonials section*/
    #sec7 {
        margin: 100px 0px;
        header {
            display: flex;
            justify-content: center;
            h2{
                font-family: monospace;
                font-size: 3rem;
                font-weight: bold;
                color: rgb(66, 1, 1);
                align-items: center;
                margin-bottom: 8rem ;
               }
        }
        article {
            /*border: 1px solid black;/**/
            height: fit-content;
            padding:10px;
            display: flex;
            justify-content: space-around;
            #test1{
                /*border: 1px solid black;/**/
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px  20px 0px 10px;
                background-color: #742904;
                border-radius: 10px;
                height: 100%;
                padding-bottom: 2.5rem;
                transition: all .5s ease;
                img{
                    width: 100px;
                    height: 100px;
                    /*margin-bottom:20px;/***/
                    border: 2px solid brown;
                    border-radius: 50%;
                    position:relative;
                    top: -50px;
                }
                p{
                    color: white;
                    position: relative;
                    top: -15px;
                    font-family: sans-serif;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                blockquote {
                    /*border: 1px solid black;/**/
                    color: white;
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 1em;
                    line-height: 1.5em;
                }
            }
            #test1:hover{
                transform: scale(1.05);
            }

            #test2{
               /* border: 1px solid black;/**/
               display: flex;
               flex-direction: column;
               align-items: center;
               margin: 0px  20px 0px 10px;
               background-color: #742904;
               border-radius: 10px;
               height: 100%;
               padding-bottom: 2.5rem;
               transition: all .5s ease;
                img{
                    width: 100px;
                    height: 100px;
                    border: 1px solid brown;
                    border-radius: 50%;
                    position:relative;
                    top: -50px;
                }
                p{
                    color: white;
                    position: relative;
                    top: -15px;
                    font-family: sans-serif;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                blockquote {
                color: white; 
                text-align: center;
                font-family: sans-serif;
                font-size: 1em;
                line-height: 1.5em;
                }
            }
            #test2:hover{
                transform: scale(1.05);
            }
            /*section three testmonial section*/
            #test3{
               /* border: 1px solid black;/**/
               display: flex;
               flex-direction: column;
               align-items: center;
               margin: 0px  20px 0px 10px;
               background-color: #742904;
               border-radius: 10px;
               height: 100%;
               padding-bottom: 2.5rem;
               transition: all .5s ease;
                img{
                    width: 100px;
                    height: 100px;
                    border: 1px solid brown;
                    border-radius: 50%;
                    position:relative;
                    top: -50px;
                }
                p{
                    color: white;
                    position: relative;
                    top: -15px;
                    font-family: sans-serif;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                blockquote {
                    color: white; 
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 1em;
                    line-height: 1.5em;
                }
            }
            #test3:hover{
                transform: scale(1.05);
            }
            #test4{
               /* border: 1px solid black;/**/
               display: flex;
               flex-direction: column;
               align-items: center;
               margin: 0px  20px 0px 10px;
               background-color: #742904;
               border-radius: 10px;
               height: 100%;
               padding-bottom: 2.5rem;
               transition: all .5s ease;
                img{
                    width: 100px;
                    height: 100px;
                    border: 1px solid brown;
                    border-radius: 50%;
                    position:relative;
                    top: -50px;
                }
                p{
                    color: white;
                    position: relative;
                    top: -15px;
                    font-family: sans-serif;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                blockquote {
                    color: white; 
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 1em;
                    line-height: 1.5em;
                }
            }
            #test4:hover{
                transform: scale(1.05);
            }

        }
    }
    /*footer section*/
    footer{
        background-color: #1a0900;
        color:white;
        padding: 10px;

        display: flex;
        flex-direction: column;
        #top{
            display: flex;
            padding: 50px 40px;        
            a{
                margin: 10px;
                display: block;
                text-decoration: none;
                font-family: sans-serif;
                color: white;
                text-align: center;
            }
            h3{
                font-family: sans-serif;
                margin-bottom: 5px;
            }
            #contact{
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                position: relative;
                left: 10vh;
            }
            #links{
                position: relative;
                left: 35vw;
                h3{
                    display: flex;
                    justify-content: center;
                }
            }
            #Group_members{
                position: relative;
                left: 60vw;
            }
        }
        #bottom{
            margin-top:30px;
            display: flex;
            justify-content: center;
            font-family: sans-serif;
        }
    }
}