* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  scroll-behavior: smooth;
  /*box-sizing: border-box;*/
}

body {
  background-color: #fffefd;
}

/*navigational part style */
nav {
  /*border: 1px solid black;/**/
  width: 100%;
  margin: 10px 0px;
  position: relative;
  display: flex;
  overflow: hidden;
}
nav #logo {
  width: 45%;
}
nav #logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 3vw;
}
nav #links {
  /*border: 1px solid;/**/
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 3vw;
}
nav #links a {
  text-decoration: none;
  color: brown;
  margin: 0vh 1vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

/* styling main section article*/
main {
  /* first section */
  overflow: hidden;
  /* second section styling */
  /*section three for about section */
  /*section four brands section */
  /* animation for section three brand slide (horizontall scroll)*/
  /* section five numbers */
  /*section seven for testimonials section*/
  /*footer section*/
}
main #sec1 {
  /*display: none;  you have to delete this part */
  /*background-image: url(./../resource/pic/backgrounds/bg2.jpg);/**/
  background-repeat: none;
  background-size: contain;
}
main #sec1 article {
  /*how the article will be displayed*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #sec1 article img {
  width: 50%;
  height: 50vh;
  margin: 10vh 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: brown 2px solid;
}
main #sec1 article header {
  /*how the headers will be displayed */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #sec1 article header h1 {
  /*box modeling */
  /* styling the font of the header */
  letter-spacing: 0.5em;
  font-family: monospace;
  font-size: 6vh;
  font-weight: bolder;
  color: #742904;
}
main #sec1 article p {
  position: relative;
  font-family: sans-serif;
  font-size: 1em;
  color: #ffa87d;
}
main #sec2 {
  /* border: 1px solid black;/**/
  width: 100%;
  height: 200vh;
  padding: 10vh 10vw;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 100px;
  /* firest article*/
  /*second article on this section*/
  /*therd article on this section*/
}
main #sec2 .article1 {
  /*border: 3px solid red ;/**/
  position: relative;
  /* display: none; /* for development only deseble it  */
  /* second article on this section */
}
main #sec2 .article1 img {
  width: 35%;
  height: 45vh;
  position: absolute;
  top: 5vh;
  border-radius: 10px;
}
main #sec2 .article1 .disc1.reveal {
  transform: translateX(50vw);
  transition: all 1s ease;
  opacity: 0;
}
main #sec2 .article1 .image.reveal {
  transform: translateX(-50vw);
  transition: all 1s ease;
  opacity: 0;
}
main #sec2 .article1 .image.reveal.active {
  transform: translateX(0vw);
  opacity: 1;
}
main #sec2 .article1 .disc1.reveal.active {
  transform: translateX(0%);
  opacity: 1;
}
main #sec2 .article1 .disc1 {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0vw 2vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 45%;
}
main #sec2 .article1 .disc1 header h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 5vh;
  padding-bottom: 2vh;
}
main #sec2 .article1 .disc1 p {
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  padding-bottom: 3vh;
  color: gray;
}
main #sec2 .article1 .disc1 button {
  border-radius: 10px;
  width: 15vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #742904;
}
main #sec2 .article1 .disc1 button a {
  color: white;
  font-weight: bold;
}
main #sec2 #article2 {
  /*border: 1px solid black;*/
  position: relative;
  top: 70vh;
}
main #sec2 #article2 img {
  width: 35%;
  height: 45vh;
  position: absolute;
  left: 45%;
  top: 5vh;
  border-radius: 10px;
}
main #sec2 #article2 .disc2.reveal {
  transform: translateX(-50vw);
  transition: all 1s ease;
  opacity: 0;
}
main #sec2 #article2 .image.reveal {
  transform: translateX(50vw);
  transition: all 1s ease;
  opacity: 0;
}
main #sec2 #article2 .image.reveal.active {
  transform: translateX(0vw);
  opacity: 1;
}
main #sec2 #article2 .disc2.reveal.active {
  transform: translateX(0%);
  opacity: 1;
}
main #sec2 #article2 .disc2 {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0vw 2vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #sec2 #article2 .disc2 header h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 5vh;
  padding-bottom: 2vh;
}
main #sec2 #article2 .disc2 p {
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  padding-bottom: 3vh;
  text-align: right;
  color: gray;
}
main #sec2 #article2 .disc2 button {
  border-radius: 10px;
  width: 15vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #742904;
}
main #sec2 #article2 .disc2 button a {
  color: white;
  font-weight: bold;
}
main #sec2 #article3 {
  /*border: 1px solid black;/**/
  position: relative;
  top: 140vh;
}
main #sec2 #article3 img {
  width: 35%;
  height: 45vh;
  position: absolute;
  top: 5vh;
  border-radius: 10px;
}
main #sec2 #article3 .disc3.reveal {
  transform: translateX(50vw);
  transition: all 1s ease;
  opacity: 0;
}
main #sec2 #article3 .image.reveal {
  transform: translateX(-50vw);
  transition: all 1s ease;
  opacity: 0;
}
main #sec2 #article3 .image.reveal.active {
  transform: translateX(0vw);
  opacity: 1;
}
main #sec2 #article3 .disc3.reveal.active {
  transform: translateX(0%);
  opacity: 1;
}
main #sec2 #article3 .disc3 {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0vw 2vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 45%;
}
main #sec2 #article3 .disc3 header h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 5vh;
  padding-bottom: 2vh;
}
main #sec2 #article3 .disc3 p {
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  padding-bottom: 3vh;
  color: gray;
}
main #sec2 #article3 .disc3 button {
  border-radius: 10px;
  width: 15vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #742904;
}
main #sec2 #article3 .disc3 button a {
  color: white;
  font-weight: bold;
}
main #sec3 {
  padding: 20px;
  margin: 10rem 0rem;
}
main #sec3 #article1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
main #sec3 #article1 header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
main #sec3 #article1 header h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10vh;
  color: #4e3b40;
  text-transform: capitalize;
}
main #sec3 #article1 header .reveal {
  transform: translateY(10rem);
  opacity: 0;
  transition: all 1s ease;
}
main #sec3 #article1 header .reveal.active {
  transform: translateY(0rem);
  opacity: 1;
}
main #sec3 #article1 p {
  width: 85%;
  font-family: cursive;
  font-weight: lighter;
  font-size: 17px;
  color: gray;
}
main #sec3 #article1 .reveal {
  transform: translateY(10rem);
  opacity: 0;
  transition: all 1s ease;
}
main #sec3 #article1 .reveal.active {
  transform: translateY(0rem);
  opacity: 1;
}
main #sec4 {
  /*  border: 1px solid black;/**/
  margin: 10rem 0rem 5rem 0rem;
}
main #sec4 .reveal {
  transform: translateY(10rem);
  opacity: 0;
  transition: all 1s ease;
}
main #sec4 .reveal.active {
  transform: translateY(0rem);
  opacity: 1;
}
main #sec4 .article1 {
  margin: 10px;
  white-space: nowrap; /**/
}
main #sec4 .article1 header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #sec4 .article1 header h2 {
  color: rgb(66, 1, 1);
  font-family: monospace;
  font-size: 5vh;
  margin: 20px 20px;
}
main #sec4 .article1 #logos {
  display: inline-block;
  animation: 20s slide infinite linear;
}
main #sec4 .article1 #logos img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px 10px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
main #sec5 {
  /*border: #1a0900 1px solid;/**/
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #sec5 .article1 {
  display: flex;
  justify-content: center;
  color: rgb(66, 1, 1);
}
main #sec5 .article1 .view {
  /* border: 1px solid black;/**/
  margin: 2rem 8rem 1rem 0rem;
  font-family: sans-serif;
  font-size: 10rem;
  font-weight: normal;
}
main #sec5 .article1 .sell {
  /*border: 1px solid black;/**/
  margin: 2rem 8rem 1rem 2rem;
  font-family: sans-serif;
  font-size: 10rem;
  font-weight: normal;
}
main #sec5 .article1 .product {
  /*border: 1px solid black;/**/
  margin: 2rem 0rem 1rem 2rem;
  font-family: sans-serif;
  font-size: 10rem;
  font-weight: normal;
  position: relative;
}
main #sec5 .article2 {
  display: flex;
  position: relative;
  /*border: 1px solid black;/**/
}
main #sec5 .article2 p {
  font-family: sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: gray;
}
main #sec5 .article2 p:nth-child(1) {
  position: relative;
  left: 12rem;
}
main #sec5 .article2 p:nth-child(2) {
  position: relative;
  left: 32rem;
}
main #sec5 .article2 p:nth-child(3) {
  position: relative;
  left: 50rem;
}
main #sec6 {
  /*border: 1px solid black;/**/
  display: flex;
  flex-direction: column;
  padding: 10px 3vw;
}
main #sec6 header h2 {
  font-family: monospace;
  font-weight: bold;
  font-size: 10vh;
  color: #1a0900;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  margin: 10vh 0px;
}
main #sec6 #box {
  /*border: 1px solid black;/**/
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 5vh;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
main #sec6 #box img {
  border: 2px solid brown; /**/
  border-radius: 1vw;
  width: 20vw;
  height: 40vh;
  z-index: 0;
}
main #sec6 #box #img1 {
  position: relative;
}
main #sec6 #box #img1 #discbox {
  /*border: 1px solid green;/**/
  border-radius: 0px 0px 1vw 1vw;
  background-color: rgba(116, 41, 4, 0.5058823529);
  width: 20vw;
  height: 0%;
  opacity: 0; /**/
  position: absolute;
  bottom: 2px;
  left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
}
main #sec6 #box #img1 #discbox p {
  width: 80%;
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  word-spacing: 0.2vw;
}
main #sec6 #box #img1 #discbox span {
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: white;
}
main #sec6 #box #img1 #discbox button {
  font-family: sans-serif;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  background-color: #742904;
  border: 1px solid #742904;
  border-radius: 0.5vh;
  width: 50%;
  height: 5vh;
}
main #sec6 #box #img1 img:hover ~ #discbox,
main #sec6 #box #img1 #discbox:hover {
  height: 70%;
  opacity: 1;
}
main #sec7 {
  margin: 100px 0px;
}
main #sec7 header {
  display: flex;
  justify-content: center;
}
main #sec7 header h2 {
  font-family: monospace;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(66, 1, 1);
  align-items: center;
  margin-bottom: 8rem;
}
main #sec7 article {
  /*border: 1px solid black;/**/
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  /*section three testmonial section*/
}
main #sec7 article #test1 {
  /*border: 1px solid black;/**/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 0px 10px;
  background-color: #742904;
  border-radius: 10px;
  height: 100%;
  padding-bottom: 2.5rem;
  transition: all 0.5s ease;
}
main #sec7 article #test1 img {
  width: 100px;
  height: 100px;
  /*margin-bottom:20px;/***/
  border: 2px solid brown;
  border-radius: 50%;
  position: relative;
  top: -50px;
}
main #sec7 article #test1 p {
  color: white;
  position: relative;
  top: -15px;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
main #sec7 article #test1 blockquote {
  /*border: 1px solid black;/**/
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
main #sec7 article #test1:hover {
  transform: scale(1.05);
}
main #sec7 article #test2 {
  /* border: 1px solid black;/**/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 0px 10px;
  background-color: #742904;
  border-radius: 10px;
  height: 100%;
  padding-bottom: 2.5rem;
  transition: all 0.5s ease;
}
main #sec7 article #test2 img {
  width: 100px;
  height: 100px;
  border: 1px solid brown;
  border-radius: 50%;
  position: relative;
  top: -50px;
}
main #sec7 article #test2 p {
  color: white;
  position: relative;
  top: -15px;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
main #sec7 article #test2 blockquote {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
main #sec7 article #test2:hover {
  transform: scale(1.05);
}
main #sec7 article #test3 {
  /* border: 1px solid black;/**/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 0px 10px;
  background-color: #742904;
  border-radius: 10px;
  height: 100%;
  padding-bottom: 2.5rem;
  transition: all 0.5s ease;
}
main #sec7 article #test3 img {
  width: 100px;
  height: 100px;
  border: 1px solid brown;
  border-radius: 50%;
  position: relative;
  top: -50px;
}
main #sec7 article #test3 p {
  color: white;
  position: relative;
  top: -15px;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
main #sec7 article #test3 blockquote {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
main #sec7 article #test3:hover {
  transform: scale(1.05);
}
main #sec7 article #test4 {
  /* border: 1px solid black;/**/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 0px 10px;
  background-color: #742904;
  border-radius: 10px;
  height: 100%;
  padding-bottom: 2.5rem;
  transition: all 0.5s ease;
}
main #sec7 article #test4 img {
  width: 100px;
  height: 100px;
  border: 1px solid brown;
  border-radius: 50%;
  position: relative;
  top: -50px;
}
main #sec7 article #test4 p {
  color: white;
  position: relative;
  top: -15px;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
main #sec7 article #test4 blockquote {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
main #sec7 article #test4:hover {
  transform: scale(1.05);
}
main footer {
  background-color: #1a0900;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
main footer #top {
  display: flex;
  padding: 50px 40px;
}
main footer #top a {
  margin: 10px;
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
main footer #top h3 {
  font-family: sans-serif;
  margin-bottom: 5px;
}
main footer #top #contact {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
  left: 10vh;
}
main footer #top #links {
  position: relative;
  left: 35vw;
}
main footer #top #links h3 {
  display: flex;
  justify-content: center;
}
main footer #top #Group_members {
  position: relative;
  left: 60vw;
}
main footer #bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}/*# sourceMappingURL=style.css.map */