*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    background-color:#fffefd ;
}
/*navigational part style */
nav {
    height: 5vh;
    margin: 5px 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: 1px solid #ffcbb3;
    img {
        width: 10%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0vw;
        border: 1px solid black;
    }
    #links {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        right: 10vw;
        border: black 1px solid;
    
    }
}

/* styling main section article*/

main {
    /* first section */
    section{
        article {
            /*how the article will be displayed*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            header{
                /*how the headers will be displayed */
                border: 1px solid black;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                h1{
                    /*box modeling */
                    margin-bottom: 2vh;
                    /* styling the font of the header */
                    font-family: monospace;
                    font-size: 6vh;
                    color: #742904;
                }
            }
        }
    }
}