* {
  padding: 0px;
  margin: 0px;
}

nav {
  /*border: 1px solid black;/**/
  z-index: 2;
  width: 100%;
  display: flex;
  background-color: burlywood;
  position: sticky;
  top: -1px;
  transition: 0.5s;
}
nav #logo {
  width: 45%;
}
nav #logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 3vw;
}
nav #links {
  /*border: 1px solid;/**/
  width: 65%;
  position: relative;
  right: 10vw;
  display: flex;
  align-items: center;
  margin-right: 3vw;
}
nav #links a {
  text-decoration: none;
  color: white;
  margin: 0vh 3vw;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
}
nav #links select {
  width: 12vw;
  height: 5vh;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
}
nav #links select option {
  background-color: burlywood;
}
nav #links #search {
  width: 23vw;
  /* border: 1px solid;/**/
  position: relative;
}
nav #links #search i {
  position: absolute;
  width: 10%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: burlywood;
  border-radius: 2vh 0px 0vh 2vh;
}
nav #links #search input {
  border: none;
  border-radius: 0vh 2vh 2vh 0vh;
  position: relative;
  width: 90%;
  height: 3vh;
  padding-left: 0.5vw;
  left: 10%;
  top: 0px;
  font-family: sans-serif;
  font-size: 2vh;
  color: gray;
}
nav #links #search input:focus {
  outline: none;
}

main {
  display: flex;
}
main #prosec {
  width: 75%;
  /*border: 1px solid black;/**/
  display: flex;
  flex-direction: column;
  padding: 10px 3vw;
}
main #prosec #box {
  /*  border: 1px solid red;/**/
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 5vh;
  margin-left: 0px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
main #prosec #box img {
  border: 2px solid brown; /**/
  border-radius: 1vw;
  width: 15vw;
  height: 30vh;
  z-index: 0;
}
main #prosec #box #img1 {
  position: relative;
}
main #prosec #box #img1 #discbox {
  /*border: 1px solid green;/**/
  border-radius: 0px 0px 1vw 1vw;
  background-color: rgba(116, 41, 4, 0.5058823529);
  width: 15vw;
  height: 0%;
  opacity: 0; /**/
  position: absolute;
  bottom: 2px;
  left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
}
main #prosec #box #img1 #discbox p {
  width: 80%;
  font-family: sans-serif;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  word-spacing: 0.2vw;
}
main #prosec #box #img1 #discbox span {
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: white;
}
main #prosec #box #img1 #discbox button {
  font-family: sans-serif;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  background-color: #742904;
  border: 1px solid #742904;
  border-radius: 0.5vh;
  width: 50%;
  height: 5vh;
}
main #prosec #box #img1 img:hover ~ #discbox,
main #prosec #box #img1 #discbox:hover {
  height: 70%;
  opacity: 1;
}
main #cartsec {
  border: 3px solid #a87b1a;
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 7vh;
  position: relative;
  right: 1vw;
  border-radius: 1vh;
}
main #cartsec header {
  width: 100%;
  height: 8vh;
  background-color: #a87b1a;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #cartsec header h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5vh;
  color: #fff;
}
main #cartsec .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2vh;
  border: 2px solid burlywood;
  font-family: sans-serif;
  font-size: 1.3em;
  color: gray;
}
main #cartsec .box img {
  width: 5vw;
  height: 5vw;
}
main #cartsec button {
  position: absolute;
  bottom: -58px;
  left: 0px;
  width: 100%;
  height: 8vh;
  background-color: #a87b1a;
  font-family: sans-serif;
  font-size: 2vw;
  font-weight: bold;
  border: none;
  border-radius: 1vh;
  color: white;
}
main #cartsec button a {
  color: white;
  text-decoration: none;
}
main #cartsec button:hover {
  background-color: #cfa54a;
}

/*footer section*/
footer {
  background-color: #1a0900;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
footer #top {
  display: flex;
  padding: 50px 40px;
}
footer #top a {
  margin: 10px;
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
footer #top h3 {
  font-family: sans-serif;
  margin-bottom: 5px;
}
footer #top #contact {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
  left: 10vh;
}
footer #top #links {
  position: relative;
  left: 35vw;
}
footer #top #links h3 {
  display: flex;
  justify-content: center;
}
footer #top #Group_members {
  position: relative;
  left: 60vw;
}
footer #bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}/*# sourceMappingURL=style.css.map */