*{
    padding: 0px;
    margin: 0px;
}

nav {
    /*border: 1px solid black;/**/
    z-index: 2;
    width: 100%;
    display: flex;
    background-color: rgb(77, 36, 3);
    position: sticky;
    top: -1px;
    transition: .5s;
    #logo {
        width: 45%;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 3vw;
        }
    }
    #links{
       /*border: 1px solid;/**/
        width: 55%;
        padding-left: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:3vw;
        a{
            text-decoration: none;
            color: white;
            margin: 0vh 1vw;
            font-family: sans-serif;
            font-weight: lighter;
            font-size: 1.2em;
        }
        #cart{
            background-color: rgba(165, 42, 42, 0.692);
            border-radius:30vw;
        }
    }
}

 nav.active{
    position: sticky;
    top: -1px;
    background-color: #1a0900b2;
 }

 main {
    display: flex;
    #prosec {
        width: 75%;
            /*border: 1px solid black;/**/
            display: flex;
            flex-direction: column;
            padding:10px 3vw;
            #box{
              /*  border: 1px solid red;/**/
                display: flex;
                justify-content: space-evenly;
                position:relative;
                margin:5vh;
                width: 100%;
                height: fit-content;
                img{
                    border: 2px solid brown;/**/
                    border-radius:1vw ;
                    width: 15vw;
                    height: 40vh;
                    z-index: 0;
                }
                #img1{
                    position: relative;
    
                #discbox{
                    /*border: 1px solid green;/**/
                    border-radius: 0px 0px 1vw 1vw;
                    background-color: #74290481;
                    width: 15vw;
                    height:0%;
                    opacity: 0;/**/
                    position: absolute;
                    bottom:2px ;
                    left: 2px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    transition: .5s ;
                    p{
                        width: 80%;
                        font-family: sans-serif;
                        font-size: 3vh;
                        font-weight: bold;
                        color: white;
                        word-spacing: 0.2vw;
                    }
                    span {
                        font-family: sans-serif;
                        font-size: 3vh;
                        font-weight: bold;
                        color: white;
                    }
                    button{
                        font-family: sans-serif;
                        font-size: 2vh;
                        font-weight: bold;
                        color: white;
                        background-color: #742904;
                        border: 1px solid #742904; 
                        border-radius: .5vh;
                        width: 50%;
                        height: 5vh;
                    }
                  }
                  img:hover ~#discbox,
                  #discbox:hover {
                    height: 70%;
                    opacity: 1;
                  } 
                }
            }
    }
    #cartsec{
        border: 3px solid #a87b1a;
        position: relative;
        width: 25%;
        margin-top: 7vh;
        header {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 8vh;
            background-color: #a87b1a;
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
                font-family: sans-serif;
                font-weight: bold;
                font-size: 5vh;
                color: #fff;
            }
        }
    }
}